.back {
  position: fixed;
  right: 100px;
  bottom: 50px;
  z-index: 10;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 1.5715;
  cursor: pointer;
  box-sizing: border-box;
  font-variant: tabular-nums;
  font-feature-settings: 'tnum';

  .back_top {
    width: 40px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(16, 136, 233);
    border-radius: 4px;
  }
}
