.list {
  padding-bottom: 64px;
  margin-top: 54px;
  background-color: #fff;

  .wrap {
    .item {
      position: relative;
      width: 375px;
      height: 64px;

      .list_item {
        display: flex;
        width: 375px;
        height: 64px;
        align-items: center;

        img {
          width: 48px;
          height: 48px;
          margin: 0 16px;
          border-radius: 12px;
        }

        .circle {
          position: absolute;
          top: 5px;
          left: 50px;
          width: 16px;
          height: 16px;
          font-size: 14px;
          line-height: 16px;
          color: #fff;
          text-align: center;
          background: #ff5d5b;
          border-radius: 50%;
        }

        .right {
          span {
            font-size: 14px;
            font-weight: 400;
            letter-spacing: -0.62px;
            color: #272832;
          }

          p {
            max-width: 200px;
            padding-top: 5px;
            overflow: hidden;
            font-size: 12px;
            font-weight: 400;
            letter-spacing: -0.48px;
            color: rgba(39, 40, 50, 60%);
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }

        .time {
          position: absolute;
          top: 0;
          right: 0;
          padding: 10px;
          font-size: 12px;
          font-weight: 400;
          letter-spacing: -0.41px;
          color: rgba(39, 40, 50, 40%);
        }
      }
    }
  }
}
