.modal {
  position: absolute;
  z-index: 1;

  .modal_mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    overflow: hidden;
    background-color: #000;
    opacity: 0.7;
  }

  .modal_content {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 100;
    transform: translate(-50%, -50%);
  }
}
