.search {
  width: 100%;
  background-color: #fff;

  .search_top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 44px;
    box-shadow: 0 0.5px 0 0 rgba(0, 0, 0, 11%);
    overflow: hidden;
    background-color: #fff;

    input {
      width: 300px;
      height: 30px;
      padding-right: 40px;
      padding-left: 10px;
      margin: 7px 0 0 16px;
      font-size: 14px;
      background: #f3f4f6;
      border-radius: 5px;
    }

    .search_icon {
      position: absolute;
      top: 10px;
      right: 65px;
      width: 20px;
      height: 20px;
      overflow: hidden;
      background: url('@/assets/images/search@2x.png') no-repeat;
      background-size: contain;
    }

    span {
      width: 28px;
      height: 28px;
      margin: 16px 0 0 12px;
      font-size: 14px;
    }
  }

  .search_container {
    width: 100%;
    margin-top: 68px;

    .user {
      h2 {
        padding-left: 16px;
        font-size: 18px;
        font-weight: bolder;
      }

      .list_item {
        position: relative;
        display: flex;
        width: 375px;
        height: 64px;
        padding-left: 16px;
        align-items: center;
        justify-content: space-between;

        img {
          width: 48px;
          height: 48px;
          border-radius: 12px;
        }

        .right {
          display: flex;
          width: 300px;
          align-items: center;

          .msg {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-left: 10px;
            justify-content: center;
            margin-right: 50px;

            .span {
              font-size: 14px;
            }

            .span_gray {
              font-size: 12px;
              color: gray;
            }
          }

          .btn_send {
            position: absolute;
            top: 15px;
            right: 20px;
            width: 66px;
            height: 28px;
            font-size: 12px;
            line-height: 28px;
            color: #000;
            text-align: center;
            background: #ffe431;
            border-radius: 8px;
          }

          .btn_send_f {
            position: absolute;
            top: 15px;
            right: 20px;
            width: 66px;
            height: 28px;
            font-size: 12px;
            line-height: 28px;
            color: #4aaaff;
            text-align: center;
            background: rgba(74, 170, 255, 10%);
            border-radius: 8px;
          }
        }
      }
    }

    .group {
      margin-top: 20px;

      h2 {
        padding-left: 16px;
        font-size: 18px;
        font-weight: bolder;
      }

      .list_item {
        position: relative;
        display: flex;
        width: 375px;
        height: 64px;
        padding-left: 16px;
        align-items: center;
        justify-content: space-between;

        img {
          width: 48px;
          height: 48px;
          border-radius: 12px;
        }

        .right {
          display: flex;
          width: 300px;
          align-items: center;

          .msg {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-left: 10px;
            justify-content: center;
            margin-right: 50px;

            .span {
              font-size: 14px;
            }

            .span_gray {
              font-size: 12px;
              color: gray;
            }
          }

          .btn_send {
            position: absolute;
            top: 15px;
            right: 20px;
            width: 66px;
            height: 28px;
            font-size: 12px;
            line-height: 28px;
            color: #000;
            text-align: center;
            background: #ffe431;
            border-radius: 8px;
          }

          .btn_send_f {
            position: absolute;
            top: 15px;
            right: 20px;
            width: 66px;
            height: 28px;
            font-size: 12px;
            line-height: 28px;
            color: #4aaaff;
            text-align: center;
            background: rgba(74, 170, 255, 10%);
            border-radius: 8px;
          }
        }
      }
    }
  }
}
