.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  width: 100%;
  height: 44px;
  font-size: 14px;
  background-color: #fafafa;

  a {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #333;

    /* 添加& 是为了取消空格  在a元素本身上添加类名 而不是子代元素 */
    &.active {
      color: #548cda !important;

      div {
        transform: scale(0.83);
      }
    }

    .icon_home {
      width: 20px;
      height: 20px;
      margin-top: 5px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('@/assets/images/消息@2x.png');
      background-size: contain;
    }

    .footer_home {
      width: 40px;
      height: 20px;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
    }

    .icon_order {
      width: 20px;
      height: 20px;
      margin-top: 5px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('@/assets/images/我的@2x.png');
      background-size: contain;
    }

    .footer_order {
      width: 40px;
      height: 20px;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
    }

    .icon_mine {
      width: 20px;
      height: 20px;
      margin-top: 5px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('@/assets/images/世界@2x.png');
      background-size: contain;
    }

    .footer_mine {
      width: 40px;
      height: 20px;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
    }
  }
}
